<a href="/">Home</a><div>

<a href="/surveys">Surveys</a><div>

  <div>
    <h1>
      Leaderboard
    </h1>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Survey
        </th>

        
        <th>
          Challenge
        </th>

       
        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_challenge_types.each do |a_challenge_type| %>
      <tr>
      
        <td>
          <%= a_challenge_type.survey_id %>
        </td>

        <td>
          <%= a_challenge_type.description %>
        </td>

        
        <td>
          <%= time_ago_in_words(a_challenge_type.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_challenge_type.updated_at) %> ago
        </td>

        <td>
          <a href="/challenge_types/<%= a_challenge_type.survey_id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
