<a href="/">Home</a><div>
<a href="/surveys">Surveys</a><div>

<div>
  <div>
    <h1>
      Challenge type #<%= @challenge_type.survey_id %> details
    </h1>

    <div>
      <div>
        <a href="/challenge_types">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_challenge_type/<%= @challenge_type.id %>">
          Delete challenge type
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Survey ID
      </dt>
      <dd>
        <%= @challenge_type.survey_id %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @challenge_type.description %>
      </dd>

      

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@challenge_type.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@challenge_type.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>
