<a href="/">Home</a>
<div>
  <div>
    <h1>
      List of all surveys
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new survey
    </h2>

    <form action="/insert_survey" method="post">
      <div>
        <label for="income_box">
          Income
        </label>

        <input type="text" id="income_box" name="query_income">
      </div>

      <div>
        <label for="expenses_box">
          Expenses
        </label>

        <input type="text" id="expenses_box" name="query_expenses">
      </div>

      <div>
        <label for="risk_tolerance_box">
          Risk tolerance
        </label>

        <input type="text" id="risk_tolerance_box" name="query_risk_tolerance">
      </div>
      <button>
        Create survey
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Income
        </th>

        <th>
          Expenses
        </th>

        <th>
          Risk tolerance
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_surveys.each do |a_survey| %>
      <tr>
        <td>
          <%= a_survey.id %>
        </td>

        <td>
          <%= a_survey.income %>
        </td>

        <td>
          <%= a_survey.expenses %>
        </td>

        <td>
          <%= a_survey.risk_tolerance %>
        </td>
 <!-- Add a column with a link to the associated challenge_run -->
        <td>
         <a href="/challenge_runs/<%= a_survey.id %>">View Challenge</a>
        </td>
        <td>
          <%= time_ago_in_words(a_survey.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_survey.updated_at) %> ago
        </td>

        <td>
          <a href="/surveys/<%= a_survey.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
