<a href="/">Home</a>
<div>
  <div>
    <h1>
      Edit Survey #<%= @the_survey.id %> 
    </h1>

<div>
  <div>

    <form action="/modify_survey/<%= @the_survey.id %>"  method="post" >
      <div>
        <label for="income_box">
          Annual Income ($)

        <input type="text" id="income_box" name="query_income" value="<%= @the_survey.income %>">
      </div>

      <div>
        <label for="expenses_box">
          Annual Expenses ($)
        </label>

        <input type="text" id="expenses_box" name="query_expenses" value="<%= @the_survey.expenses %>">
      </div>

      <div>
        <label for="risk_tolerance_box">
          Risk tolerance
        </label>

        <input type="text" id="risk_tolerance_box" name="query_risk_tolerance" value="<%= @the_survey.risk_tolerance %>">
      </div>

      <button>
        Update survey
      </button>
    </form>
  </div>
</div>



<hr>
<div>
      <div>
        <a href="/surveys">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_survey/<%= @the_survey.id %>">
          Delete survey
        </a>
      </div>
    </div>
