<a href="/">Home</a>
<div>
  <div>
    <h1>
      Survey #<%= @the_survey.id %> details
    </h1>

    <div>
      <div>
        <a href="/surveys">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_survey/<%= @the_survey.id %>">
          Delete survey
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Income
      </dt>
      <dd>
        <%= @the_survey.income %>
      </dd>

      <dt>
        Expenses
      </dt>
      <dd>
        <%= @the_survey.expenses %>
      </dd>

      <dt>
        Risk tolerance
      </dt>
      <dd>
        <%= @the_survey.risk_tolerance %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_survey.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_survey.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit survey
    </h2>

    <form action="/modify_survey/<%= @the_survey.id %>"  method="post" >
      <div>
        <label for="income_box">
          Income
        </label>

        <input type="text" id="income_box" name="query_income" value="<%= @the_survey.income %>">
      </div>

      <div>
        <label for="expenses_box">
          Expenses
        </label>

        <input type="text" id="expenses_box" name="query_expenses" value="<%= @the_survey.expenses %>">
      </div>

      <div>
        <label for="risk_tolerance_box">
          Risk tolerance
        </label>

        <input type="text" id="risk_tolerance_box" name="query_risk_tolerance" value="<%= @the_survey.risk_tolerance %>">
      </div>

      <button>
        Update survey
      </button>
    </form>
  </div>
</div>

<hr>
